body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 248, 255);
    background-color: rgb(4, 12, 27);
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

/* DIV MAIN */
.in-main-struc {
    border: 0px solid rgb(250, 250, 250);
    background-color: rgba(15, 15, 15, 0.5);
    border-radius: 20px 20px 20px 0px;

    width: 450px;
    height: 350px;
    top: 20%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 25px;
    
    text-align: center;
    font-size: 35px;
}

/* FORMULÁRIO LOGIN */
.main-log {
    border: 0px solid green;
    margin-top: 5%;
    width: 80%;
}

/* INPUT TXT */
.tit-log .itxt-log {
    width: 80%;
    padding: 8px 0px 8px 0px;
    background-color: rgb(40, 40, 40, 0%);
    border: 1px solid rgb(40, 40, 40, 0%);

    color: rgb(240, 248, 255);
    font-size: 20px;
}

.tit-log .itxt-log:focus {
    outline: none;
}

/* INPUT TXT LOGIN*/
.tit-log td {
    border-radius: 20px;
    background-color: rgba(36, 36, 36, 0.9);
}

.iconss {
    vertical-align: middle;
    margin-right: 15px;
}

/* BOTÃO LOGIN */
.submit-log {
    margin-top: 30px;
    padding: 10px 20%;
    border-radius: 8px;
    border: none;
    background: rgb(100, 0, 139);
    color: aliceblue;
}
.submit-log:hover {
    background: rgb(78, 0, 109);
    cursor: pointer;
}

/* Esqueceu a senha? */
.forgot-pw {
    text-decoration: none;
    font-size: 15px;
}
.forgot-pw:hover {
    color: rgb(126, 126, 126);
    cursor: pointer;
}



/*
   ████████  ██         ███████   ██████       ██     ██      
  ██░░░░░░██░██        ██░░░░░██ ░█░░░░██     ████   ░██      
 ██      ░░ ░██       ██     ░░██░█   ░██    ██░░██  ░██      
░██         ░██      ░██      ░██░██████    ██  ░░██ ░██      
░██    █████░██      ░██      ░██░█░░░░ ██ ██████████░██      
░░██  ░░░░██░██      ░░██     ██ ░█    ░██░██░░░░░░██░██      
 ░░████████ ░████████ ░░███████  ░███████ ░██     ░██░████████
  ░░░░░░░░  ░░░░░░░░   ░░░░░░░   ░░░░░░░  ░░      ░░ ░░░░░░░░
*/

/* TABELA MOSTRA REGISTROS*/
.main-table {
    background-color: rgb(20, 20, 20);
    border-radius: 9px;
    padding: 15px 0px 15px 0px;
    margin-top: 15px;
    color: rgb(220, 220, 220);
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}

/* TABELA COMPACTA MOSTRA REGISTROS*/
.main-table-compact {
    background-color: rgb(20, 20, 20);
    border-radius: 9px;
    padding: 15px 0px 15px 0px;
    margin-top: 15px;
    color: rgb(220, 220, 220);
    border-collapse: collapse;
    font-size: 16px;
    width: 20%;
}

/* CABEÇALHO DE TABELA */
.tr-cab {
    background-color: rgb(0, 31, 51);
    color: white;
    cursor: default;
}
.tr-cab td{
    padding: 12px 32px 12px 32px;
}

/* LINHAS DA TABELA */
.tr-main:nth-child(odd) {
    background-color: rgb(45, 45, 45);
}
.tr-main:hover {
    background-color: rgb(95, 95, 95);
    color: rgb(150, 239, 255);
}
.tr-main td {
    padding: 12px 32px 12px 32px;
}
.tr-main .td-icon {
    padding: 4px 16px 4px 16px;
}

/* TD TXT TITULO GLOBAL*/
.td-tit {
    font-size: 16px;
}

/* INPUT TEXT */
.itxt-l, .itxt-r {
    color: rgb(215, 215, 215);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 3px;
    border: 1px solid rgb(150, 150, 150);
    padding: 6px 0px 6px 5px;
    width: 250px;
}
.itxt-l:hover, .itxt-r:hover {
    border: 1px solid rgb(235, 235, 235);
}
.itxt-l {
    margin-right: 20px;
}

/* SELECT */
select {
    background: rgb(54, 54, 54);
    color: azure;
    padding: 5px 15px 5px 15px;
    border-style: none;
}
select option:hover {
    background: #ffffff;
}

/* ICON DELETE */
.img-del {
    background: url('../icons/delete1.png');
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
}

.img-del:hover {
    background: url('../icons/delete1b.png');
    background-size: cover;
}

.img-edit {
    background: url('../icons/edit1.png');
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
}

.img-edit:hover {
    background: url('../icons/edit1b.png');
    background-size: cover;
}

.img-inclu {
    background: url('../icons/inclu1.png');
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
}

.img-inclu:hover {
    background: url('../icons/inclu1a.png');
    background-size: cover;
}

/* CREATE ICON */
.content-create {
    border: 2px solid rgb(112, 209, 149);
    width: 175px;
    border-radius: 10px;
    margin-left: 80%;
}
.content-create:hover {
    border: 2px solid rgb(84, 236, 142);
    background-color: rgb(220, 220, 220, 0.1);
}
.content-create a{
    text-decoration: none;
    color: rgb(200, 200, 200);
}
.content-create a:hover {
    color: rgb(240, 240, 240);
}
.img-create {
    background: url('../icons/create2.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
}
.img-create:hover {
    background: url('../icons/create1b.png');
    background-size: cover;
}
.img-create span {
    margin-left: 35px;   
    position: absolute;  
    margin-top: 4px;
    font-size: 20px;
    padding: 5px;
    white-space: nowrap;
}

/* FORM DE EDIÇÃO e CRIAÇÂO */
.workInfor {
    position: relative;
    margin-left: 250px;
    margin-right: 35px;
    
    z-index: +1;
    padding: 20px;
    display: none;
    padding-bottom: 50px;
    
}

.main-table-form {
    padding: 50px;
    background-color: rgb(30, 30, 30);
    border: 4px solid rgb(35, 35, 35);
    border-radius: 20px;
    z-index: +2;
    position: relative;
}

.tr-main-form td {
    padding-top: 15px;
    padding-right: 10px;
}

/* H1 de Navegação */
.nav-link { 
    text-decoration: none;
    color: rgb(240, 248, 255);
}

.nav-link:hover {
    color: white;
    cursor: pointer;
}

/* Remover Spin de Iinput Number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Input de busca Dinâmica */
.busca {
    position: absolute;
}
.busca-item {
    padding: 15px;
    cursor: pointer;
    background-color: #3f3f3f;
}
.busca-item:hover {
    background-color: #6b6b6b;
}


/*
   ████████  ██         ███████   ██████       ██     ██      
  ██░░░░░░██░██        ██░░░░░██ ░█░░░░██     ████   ░██      
 ██      ░░ ░██       ██     ░░██░█   ░██    ██░░██  ░██      
░██         ░██      ░██      ░██░██████    ██  ░░██ ░██      
░██    █████░██      ░██      ░██░█░░░░ ██ ██████████░██      
░░██  ░░░░██░██      ░░██     ██ ░█    ░██░██░░░░░░██░██      
 ░░████████ ░████████ ░░███████  ░███████ ░██     ░██░████████
  ░░░░░░░░  ░░░░░░░░   ░░░░░░░   ░░░░░░░  ░░      ░░ ░░░░░░░░
*/


/*  
  ████████ ██     ██ ██████   ████     ████ ██ ██████████
 ██░░░░░░ ░██    ░██░█░░░░██ ░██░██   ██░██░██░░░░░██░░░ 
░██       ░██    ░██░█   ░██ ░██░░██ ██ ░██░██    ░██    
░█████████░██    ░██░██████  ░██ ░░███  ░██░██    ░██    
░░░░░░░░██░██    ░██░█░░░░ ██░██  ░░█   ░██░██    ░██    
       ░██░██    ░██░█    ░██░██   ░    ░██░██    ░██    
 ████████ ░░███████ ░███████ ░██        ░██░██    ░██    
░░░░░░░░   ░░░░░░░  ░░░░░░░  ░░         ░░ ░░     ░░
*/

/* BOTÃO CRIAR GLOBAL */
.sub-create {
    color: rgb(238, 238, 238);
    border-radius: 10px;
    border: 0;
    margin-top: 20px;
    padding: 8px 25px 8px 25px;
    background-color: rgb(0, 133, 33);
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 2px 5px rgba(0, 255, 21, 0.2);
}
.sub-create:hover {
    background-color: rgb(0, 161, 40);
    transition-duration: 0.2s;
    transform: scale(1);
}

.sub-create:active {
    transform: scale(0.95);
}

/* BOTÃO VOLTAR */
.sub-back {
    color: rgb(238, 238, 238);
    border-radius: 10px;
    border: 0;
    margin: 20px 0px 40px 0px;
    padding: 8px 25px 8px 25px;
    background-color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 2px 5px rgba(228, 228, 228, 0.2);
}
.sub-back:hover {
    background-color: rgb(92, 92, 92);
    transition-duration: 0.2s;
    transform: scale(1);
}
.sub-back:active {
    transform: scale(0.95);
}

/* BOTÃO SAIR GLOBAL */
.sub-exit {
    color: rgb(238, 238, 238);
    border-radius: 10px;
    border: 0;
    margin: 20px 0px 40px 0px;
    width: 80%;
    padding: 8px 25px 8px 25px;
    background-color: rgb(133, 0, 0);
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.2);
}
.sub-exit:hover {
    background-color: rgb(100, 0, 0);
    transition-duration: 0.2s;
    transform: scale(1);
}
.sub-exit:active {
    transform: scale(0.95);
}

/* SUBMIT para Click semelhante a <a></a> */
.sub-link { 
    background:none;
    border:none;
    color:inherit;
    padding:0;
    font:inherit;
    cursor:pointer;
    border-bottom: 1px solid;
}
.sub-link:hover {
    color: white;
    cursor: pointer;
}

/*  
  ████████ ██     ██ ██████   ████     ████ ██ ██████████
 ██░░░░░░ ░██    ░██░█░░░░██ ░██░██   ██░██░██░░░░░██░░░ 
░██       ░██    ░██░█   ░██ ░██░░██ ██ ░██░██    ░██    
░█████████░██    ░██░██████  ░██ ░░███  ░██░██    ░██    
░░░░░░░░██░██    ░██░█░░░░ ██░██  ░░█   ░██░██    ░██    
       ░██░██    ░██░█    ░██░██   ░    ░██░██    ░██    
 ████████ ░░███████ ░███████ ░██        ░██░██    ░██    
░░░░░░░░   ░░░░░░░  ░░░░░░░  ░░         ░░ ░░     ░░
*/


/*
 ████     ████ ████████ ████     ██ ██     ██
░██░██   ██░██░██░░░░░ ░██░██   ░██░██    ░██
░██░░██ ██ ░██░██      ░██░░██  ░██░██    ░██
░██ ░░███  ░██░███████ ░██ ░░██ ░██░██    ░██
░██  ░░█   ░██░██░░░░  ░██  ░░██░██░██    ░██
░██   ░    ░██░██      ░██   ░░████░██    ░██
░██        ░██░████████░██    ░░███░░███████ 
░░         ░░ ░░░░░░░░ ░░      ░░░  ░░░░░░░
*/

/* MENU LATERAL GLOBAL */
.vbar {
    width: 230px;
    height: 100%;
    background-color: rgb(21, 39, 73);
    color: rgb(250, 250, 250);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 9;

    overflow: auto;
}

.vbar::-webkit-scrollbar {
  width: 9px;
}

.vbar::-webkit-scrollbar-track {
  background: #3f3f3f;
  border-radius: 10px;
}

.vbar::-webkit-scrollbar-thumb {
  background-color: #8ec5c9;
  border-radius: 10px;
  border: 2px solid #2c2c2c;
}

.vbar::-webkit-scrollbar-thumb:hover {
  background-color: #62e8ff;
}

.vbar h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 210px;
    font-size: 20px;
}

.menu {
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}

.menu img{
    vertical-align: sub;
    padding-right: 5px;
}

.vbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vbar ul li a {
    display: block;
    color: rgb(250, 250, 250);
    text-decoration: none;
    padding: 12px 20px;
    transition: background 0.3s;
}

.vbar ul li a:hover {
    background-color: rgb(52, 73, 94);
}

.submenu .op-com {
    display: none;
}

.submenu img {
    vertical-align: bottom;
    padding-right: 5px;
}

.submenu.open .op-com {
    display: block;
}

.submenu.open .legenda {
    background-color: rgb(52, 73, 94);
}

.submenu:last-child {
    text-align: center;
}

.op-com li a {
    margin-left: 20px;
    font-size: 15px;
}

/* APLICAÇÕES */

.bg-conteudo {
    position: fixed;
    margin-left: 250px;
    height: 95%;
    width: 80%;
    background-image: url('../imgs/wolf_store_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(1px);
}

.conteudo {
    position: absolute;
    margin-left: 250px;
    padding: 20px;
    width: 80%;
    height: 90%;
}

/*
 ████     ████ ████████ ████     ██ ██     ██
░██░██   ██░██░██░░░░░ ░██░██   ░██░██    ░██
░██░░██ ██ ░██░██      ░██░░██  ░██░██    ░██
░██ ░░███  ░██░███████ ░██ ░░██ ░██░██    ░██
░██  ░░█   ░██░██░░░░  ░██  ░░██░██░██    ░██
░██   ░    ░██░██      ░██   ░░████░██    ░██
░██        ░██░████████░██    ░░███░░███████ 
░░         ░░ ░░░░░░░░ ░░      ░░░  ░░░░░░░
*/

/* Mensagem para ser acionada*/
.mens-nodata {
    white-space: nowrap;
    background-color: rgba(87, 130, 187, 0.35);
    border: 3px solid rgb(6, 97, 201);
    border-radius: 15px;
    width: 400px;
    padding: 20px 40px 20px 40px;
    margin-top: 120px;
    margin-left: 28%;
}
.mens-nodata img {
    height: 40px;
    width: auto;
}
.mens-nodata span {
    font-size: 28px;
    vertical-align: super;
    -webkit-text-stroke: 0.3px rgb(0, 0, 0);
    color: rgb(230, 230, 230);
}





/* RADIO GLOBAL */
.iradio {
  appearance: none;         /* Remove aparência padrão */
  -webkit-appearance: none;
  -moz-appearance: none;
  
  width: 22px;
  height: 22px;
  border: 2px solid #0078ff; /* Cor da borda */
  border-radius: 50%;        /* Deixa redondo */
  background-color: #fff;    /* Fundo branco */
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

/* Efeito hover */
.iradio:hover {
  box-shadow: 0 0 0 3px rgba(0,120,255,0.2);
}

/* Círculo interno quando selecionado */
.iradio:checked {
  background-color: #0078ff;   /* Preenche o centro */
  box-shadow: 0 0 0 3px rgba(0,120,255,0.2);
}

/* Animação suave ao marcar */
.iradio::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: white;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.iradio:checked::after {
  background: white;
  transform: scale(0.5); 
}

.iradio {
    vertical-align: sub;
}
/* FIM RADIO GLOBAL */