html {
    /*scrollbar-gutter: stable;*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 248, 255);
    background-color: rgb(0, 0, 0);
    background-color: #02091b;
    background-color: black;
    width: 99%;
    height: 100%;/*
    overflow-x: auto;
    overflow-y: auto;*/
}

/* DIV MAIN */
.in-main-struc {
    border: 0px solid rgb(250, 250, 250);
    background-color: rgba(15, 15, 15, 0.5);
    border-radius: 20px 20px 20px 0px;

    width: 450px;
    height: 350px;
    top: 20%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 25px;
    
    text-align: center;
    font-size: 35px;
}

/* FORMULÁRIO LOGIN */
.main-log {
    border: 0px solid green;
    margin-top: 5%;
    width: 80%;
}

/* INPUT TXT */
.tit-log .itxt-log {
    width: 80%;
    padding: 8px 0px 8px 0px;
    background-color: rgb(40, 40, 40, 0%);
    border: 1px solid rgb(40, 40, 40, 0%);

    color: rgb(240, 248, 255);
    font-size: 20px;
}

.tit-log .itxt-log:focus {
    outline: none;
}

/* INPUT TXT LOGIN*/
.tit-log td {
    border-radius: 20px;
    background-color: rgba(36, 36, 36, 0.9);
}

.iconss {
    vertical-align: middle;
    margin-right: 15px;
}

/* BOTÃO LOGIN */
.submit-log {
    margin-top: 30px;
    padding: 10px 20%;
    border-radius: 8px;
    border: none;
    background: rgb(100, 0, 139);
    color: aliceblue;
}
.submit-log:hover {
    background: rgb(78, 0, 109);
    cursor: pointer;
}

/* Esqueceu a senha? */
.forgot-pw {
    text-decoration: none;
    font-size: 15px;
}
.forgot-pw:hover {
    color: rgb(126, 126, 126);
    cursor: pointer;
}



/*
   ████████  ██         ███████   ██████       ██     ██      
  ██░░░░░░██░██        ██░░░░░██ ░█░░░░██     ████   ░██      
 ██      ░░ ░██       ██     ░░██░█   ░██    ██░░██  ░██      
░██         ░██      ░██      ░██░██████    ██  ░░██ ░██      
░██    █████░██      ░██      ░██░█░░░░ ██ ██████████░██      
░░██  ░░░░██░██      ░░██     ██ ░█    ░██░██░░░░░░██░██      
 ░░████████ ░████████ ░░███████  ░███████ ░██     ░██░████████
  ░░░░░░░░  ░░░░░░░░   ░░░░░░░   ░░░░░░░  ░░      ░░ ░░░░░░░░
*/

/* TABELA MOSTRA REGISTROS*/
.main-table {
    background-color: rgb(20, 20, 20);
    border-radius: 9px;
    padding: 15px 0px 15px 0px;
    margin-top: 15px;
    color: rgb(220, 220, 220);
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
}

/* TABELA COMPACTA MOSTRA REGISTROS*/
.main-table-compact {
    background-color: rgb(20, 20, 20);
    border-radius: 9px;
    padding: 15px 0px 15px 0px;
    margin-top: 15px;
    color: rgb(220, 220, 220);
    border-collapse: collapse;
    font-size: 16px;
    width: 20%;
}
    /* CABEÇALHO DE TABELA */
    .tr-cab {
        background-color: rgb(0, 31, 51);
        color: white;
        cursor: default;
    }
    .tr-cab td{
        padding: 12px 32px 12px 32px;
    }

    /* LINHAS DA TABELA */
    .tr-main:nth-child(odd) {
        background-color: rgb(45, 45, 45);
    }
    .tr-main:hover {
        background-color: rgb(95, 95, 95);
        color: rgb(150, 239, 255);
    }
    .tr-main td {
        padding: 12px 32px 12px 32px;
    }
    .tr-main .td-icon {
        padding: 4px 16px 4px 16px;
    }

/* PRINCIPAL TABELA ALTERNATIVA */
.main-table-alternative {
    
    border-radius: 9px;
    padding: 15px 0px 15px 0px;
    margin-top: 15px;
    color: rgb(220, 220, 220);
    border-collapse: collapse;
    font-size: 16px;
    width: 20%;
}
    /* CABEÇALHO DE TABELA */
    .tr-cab-alternative {
        background-color: rgb(16, 43, 59);
        color: white;
        cursor: default;
    }
    .tr-cab-alternative td{
        padding: 12px 32px 12px 32px;
    }

    /* LINHAS DA TABELA */
    .tr-main-alternative:nth-child(even) {
        background-color: rgb(20, 20, 20);
    }
    .tr-main-alternative:nth-child(odd) {
        background-color:  rgb(30, 30, 30);
    }
    .tr-main-alternative:hover {
        background-color:  rgb(80, 80, 80);
        color: rgb(150, 239, 255);
    }
    .tr-main-alternative td {
        padding: 12px 32px 12px 32px;
    }
    .tr-main-alternative .td-icon {
        padding: 4px 16px 4px 16px;
    }
    .tr-divide td {
        padding-top: 50px;
    }
    .sub-link-alternative {
        background:none;
        border:none;
        color:inherit;
        padding:0;
        font:inherit;
        cursor:pointer;
        border-bottom: 0px solid;
    }
    .sub-link-alternative:hover {
        color: white;
        cursor: pointer;
    }

/* TD TXT TITULO GLOBAL*/
.td-tit {
    font-size: 16px;
}

/* INPUT TEXT */
.itxt-l, .itxt-r {
    color: rgb(215, 215, 215);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 3px;
    border: 1px solid rgb(150, 150, 150);
    padding: 6px 0px 6px 5px;
    width: 250px;
}
.itxt-l:hover, .itxt-r:hover {
    border: 1px solid rgb(235, 235, 235);
}
.itxt-l {
    margin-right: 20px;
}

/* SELECT */
select {
    background: rgb(54, 54, 54);
    color: azure;
    padding: 5px 15px 5px 15px;
    border-style: none;
}
select option:hover {
    background: #ffffff;
}

/* ICON DELETE */
.img-del {
    position: relative;
    background: url('../icons/delete1.png');
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
}
.img-del::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 105%; /* posição acima do ícone */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(54, 54, 54);
    color: rgb(243, 155, 155);
    padding: 5px 8px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    font-size: 14px;
}
.img-del:hover::after {
    opacity:1;
}
.img-del:hover {
    background: url('../icons/delete1b.png');
    background-size: cover;
}

/* ICON EDIT */
.img-edit {
    position: relative;
    background: url('../icons/edit1.png');
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
}
.img-edit::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 105%; /* posição acima do ícone */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(54, 54, 54);
    color: rgb(237, 243, 155);
    padding: 5px 8px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    font-size: 14px;
}
.img-edit:hover::after {
    opacity:1;
}
.img-edit:hover {
    background: url('../icons/edit1b.png');
    background-size: cover;
}


/* ICON INCLUDE */
.img-inclu {
    position: relative;
    background: url('../icons/inclu1.png');
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
}
/* Tooltip estilizado */
.img-inclu::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 105%; /* posição acima do ícone */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(54, 54, 54);
    color: rgb(155, 223, 243);
    padding: 5px 8px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    font-size: 14px;
}
.img-inclu:hover::after {
    opacity:1;
}
.img-inclu:hover {
    background: url('../icons/inclu1a.png');
    background-size: cover;
}

/* ICON DO CREATE*/
.content-create {
    border: 2px solid rgb(112, 209, 149);
    width: 175px;
    border-radius: 10px;
    margin-left: 80%;
    cursor: pointer;
}
.content-create:hover {
    border: 2px solid rgb(84, 236, 142);
    background-color: rgb(220, 220, 220, 0.1);
}
.content-create a{
    text-decoration: none;
    color: rgb(200, 200, 200);
}
.content-create a:hover {
    color: rgb(240, 240, 240);
}
.img-create {
    background: url('../icons/create2.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
}
.content-create:hover .img-create {
    background: url('../icons/create1b.png');
    background-size: cover;
}
.img-create span {
    margin-left: 35px;   
    position: absolute;  
    margin-top: 4px;
    font-size: 20px;
    padding: 5px;
    white-space: nowrap;
}

/* ICON DO SEND*/
/* Remove estilo nativo do botão */
.sub-content-send {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 15px;
}
/* Container do botão visual */
.content-send {
    border: 2px solid rgb(6, 199, 173);
    width: 175px;
    border-radius: 10px;
    margin-left: 10%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: 0.2s ease;
}
/* Hover geral */
.content-send:hover {
    border-color: rgb(66, 245, 221);
    background-color: rgba(220, 220, 220, 0.1);
}
/* Ícone à esquerda */
.img-send {
    background: url('../icons/send1.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
    position: relative;
}
/* Ícone no hover */
.content-send:hover .img-send {
    background: url('../icons/send1a.png');
    background-size: cover;
}
/* Texto dentro do botão */
.img-send span {
    margin-left: 30px;
    position: absolute;
    top: 8px;
    font-size: 20px;
    white-space: nowrap;
    color: rgb(200, 200, 200);
    transition: color 0.2s ease;
}
/* Hover no texto */
.content-send:hover .img-send span {
    color: rgb(240, 240, 240);
}

/* ICON DO BACK*/
/* Remove estilo nativo do botão */
.sub-content-back {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 15px;
}
/* Container do botão visual */
.content-back {
    border: 2px solid rgb(117, 117, 117);
    width: 110px;
    border-radius: 10px;
    margin-left: 15%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: 0.2s ease;
}
/* Hover geral */
.content-back:hover {
    border-color: rgb(92, 92, 92);
    background-color: rgba(220, 220, 220, 0.1);
}
/* Ícone à esquerda */
.img-back {
    background: url('../icons/back1.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
    position: relative;
}
/* Ícone no hover */
.content-back:hover .img-back {
    background: url('../icons/back1a.png');
    background-size: cover;
}
/* Texto dentro do botão */
.img-back span {
    margin-left: 30px;
    position: absolute;
    top: 8px;
    font-size: 20px;
    white-space: nowrap;
    color: rgb(200, 200, 200);
    transition: color 0.2s ease;
}
/* Hover no texto */
.content-back:hover .img-back span {
    color: rgb(240, 240, 240);
}


/* ICON DO INCLUDE*/
/* Remove estilo nativo do botão */
.sub-content-include {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 15px;
}
/* Container do botão visual */
.content-include {
    border: 2px solid rgb(155, 223, 243);
    width: 200px;
    border-radius: 10px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: 0.2s ease;
}
/* Hover geral */
.content-include:hover {
    border-color: rgb(172, 224, 240);
    background-color: rgba(220, 220, 220, 0.1);
}
/* Ícone à esquerda */
.img-include {
    background: url('../icons/inclu1.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
    position: relative;
}
/* Ícone no hover */
.content-include:hover .img-include {
    background: url('../icons/inclu1a.png');
    background-size: cover;
}
/* Texto dentro do botão */
.img-include span {
    margin-left: 30px;
    position: absolute;
    top: 8px;
    font-size: 20px;
    white-space: nowrap;
    color: rgb(200, 200, 200);
    transition: color 0.2s ease;
}
/* Hover no texto */
.content-include:hover .img-include span {
    color: rgb(240, 240, 240);
}


/* ICON DO CREATE BUTTON*/
/* Remove estilo nativo do botão */
.sub-content-create2 {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 15px;
}
/* Container do botão visual */
.content-create2 {
    border: 2px solid rgb(112, 209, 149);
    width: 180px;
    border-radius: 10px;
    margin-left: 15%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: 0.2s ease;
}
/* Hover geral */
.content-create2:hover {
    border-color: rgb(84, 236, 142);
    background-color: rgba(220, 220, 220, 0.1);
}
/* Ícone à esquerda */
.img-create2 {
    background: url('../icons/create2.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
    position: relative;
}
/* Ícone no hover */
.content-create2:hover .img-create2 {
    background: url('../icons/create1b.png');
    background-size: cover;
}
/* Texto dentro do botão */
.img-create2 span {
    margin-left: 30px;
    position: absolute;
    top: 8px;
    font-size: 20px;
    white-space: nowrap;
    color: rgb(200, 200, 200);
    transition: color 0.2s ease;
}
/* Hover no texto */
.content-create2:hover .img-create2 span {
    color: rgb(240, 240, 240);
}

/* OVERLAY DO FORM CRIAR e EDITAR */
.div-us-create, .div-us-edit {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 15%;
    top: 40px;
    padding: 5px 28px;
    background: rgba(0,0,0,0.4);

    overflow-y: auto; /* Para tabelas compridas */
}

/* FORM DE EDIÇÃO e CRIAÇÂO */
.workInfor {
    /*position: relative;
    margin-left: 15%;
    width: 80%;*/
    z-index: 998;
    display: none;
}

/* TABELA PRINCIPAL CREATOR E EDITOR */
.main-table-form {
    padding: 50px;
    background-color: rgb(30, 30, 30);
    border: 4px solid rgb(35, 35, 35);
    border-radius: 20px;
    z-index: 999;
    position: relative;

    margin-left: 25%;
}
.tr-main-form td {
    padding-top: 15px;
    padding-right: 10px;
}

/* Remover Spin de Iinput Number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Input de busca Dinâmica */
.busca {
    position: absolute;
}
.busca-item {
    padding: 15px;
    cursor: pointer;
    background-color: #3f3f3f;
}
.busca-item:hover {
    background-color: #6b6b6b;
}

/* Paginação das telas */
.paginacao {
    text-align: center;
    margin: 15px 0;
}
.paginacao a {
    padding: 6px 10px;
    margin: 2px;
    background: rgb(61, 61, 61);
    border-radius: 4px;
    text-decoration: none;
    color: rgb(224, 224, 224);
}
.paginacao a:hover {
    background: rgb(75, 75, 75);
}
.paginacao a.ativo {
    background: #275e92;
    color: rgb(224, 224, 224);
    font-weight: bold;
}


/*
   ████████  ██         ███████   ██████       ██     ██      
  ██░░░░░░██░██        ██░░░░░██ ░█░░░░██     ████   ░██      
 ██      ░░ ░██       ██     ░░██░█   ░██    ██░░██  ░██      
░██         ░██      ░██      ░██░██████    ██  ░░██ ░██      
░██    █████░██      ░██      ░██░█░░░░ ██ ██████████░██      
░░██  ░░░░██░██      ░░██     ██ ░█    ░██░██░░░░░░██░██      
 ░░████████ ░████████ ░░███████  ░███████ ░██     ░██░████████
  ░░░░░░░░  ░░░░░░░░   ░░░░░░░   ░░░░░░░  ░░      ░░ ░░░░░░░░
*/


/*  
  ████████ ██     ██ ██████   ████     ████ ██ ██████████
 ██░░░░░░ ░██    ░██░█░░░░██ ░██░██   ██░██░██░░░░░██░░░ 
░██       ░██    ░██░█   ░██ ░██░░██ ██ ░██░██    ░██    
░█████████░██    ░██░██████  ░██ ░░███  ░██░██    ░██    
░░░░░░░░██░██    ░██░█░░░░ ██░██  ░░█   ░██░██    ░██    
       ░██░██    ░██░█    ░██░██   ░    ░██░██    ░██    
 ████████ ░░███████ ░███████ ░██        ░██░██    ░██    
░░░░░░░░   ░░░░░░░  ░░░░░░░  ░░         ░░ ░░     ░░
*/

/* BOTÃO CRIAR GLOBAL */
.sub-create {
    color: rgb(238, 238, 238);
    border-radius: 10px;
    border: 0;
    margin-top: 20px;
    padding: 8px 25px 8px 25px;
    background-color: rgb(0, 133, 33);
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 2px 5px rgba(0, 255, 21, 0.2);
}
.sub-create:hover {
    background-color: rgb(0, 161, 40);
    transition-duration: 0.2s;
    transform: scale(1);
}

.sub-create:active {
    transform: scale(0.95);
}

/* BOTÃO VOLTAR */
.sub-back {
    color: rgb(238, 238, 238);
    border-radius: 10px;
    border: 0;
    margin: 20px 0px 20px 0px;
    padding: 8px 25px 8px 25px;
    background-color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 2px 5px rgba(228, 228, 228, 0.2);
}
.sub-back:hover {
    background-color: rgb(92, 92, 92);
    transition-duration: 0.2s;
    transform: scale(1);
}
.sub-back:active {
    transform: scale(0.95);
}

/* BOTÃO SAIR GLOBAL */
.sub-exit {
    color: rgb(238, 238, 238);
    border-radius: 10px;
    border: 0;
    margin: 20px 0px 40px 0px;
    width: 80%;
    padding: 8px 25px 8px 25px;
    background-color: rgb(133, 0, 0);
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.2);
}
.sub-exit:hover {
    background-color: rgb(100, 0, 0);
    transition-duration: 0.2s;
    transform: scale(1);
}
.sub-exit:active {
    transform: scale(0.95);
}

/* SUBMIT para Click semelhante a <a></a> */
.sub-link { 
    background:none;
    border:none;
    color:inherit;
    padding:0;
    font:inherit;
    cursor:pointer;
    border-bottom: 1px solid;
}
.sub-link:hover {
    color: white;
    cursor: pointer;
}

/*  
  ████████ ██     ██ ██████   ████     ████ ██ ██████████
 ██░░░░░░ ░██    ░██░█░░░░██ ░██░██   ██░██░██░░░░░██░░░ 
░██       ░██    ░██░█   ░██ ░██░░██ ██ ░██░██    ░██    
░█████████░██    ░██░██████  ░██ ░░███  ░██░██    ░██    
░░░░░░░░██░██    ░██░█░░░░ ██░██  ░░█   ░██░██    ░██    
       ░██░██    ░██░█    ░██░██   ░    ░██░██    ░██    
 ████████ ░░███████ ░███████ ░██        ░██░██    ░██    
░░░░░░░░   ░░░░░░░  ░░░░░░░  ░░         ░░ ░░     ░░
*/


/*
 ████     ████ ████████ ████     ██ ██     ██
░██░██   ██░██░██░░░░░ ░██░██   ░██░██    ░██
░██░░██ ██ ░██░██      ░██░░██  ░██░██    ░██
░██ ░░███  ░██░███████ ░██ ░░██ ░██░██    ░██
░██  ░░█   ░██░██░░░░  ░██  ░░██░██░██    ░██
░██   ░    ░██░██      ░██   ░░████░██    ░██
░██        ░██░████████░██    ░░███░░███████ 
░░         ░░ ░░░░░░░░ ░░      ░░░  ░░░░░░░
*/

/* MENU LATERAL GLOBAL */
.vbar {
    width: 15%;
    height: 100%;
    background-color: rgb(21, 39, 73);
    color: rgb(250, 250, 250);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 9;

    overflow: auto;
}

.vbar::-webkit-scrollbar {
  width: 9px;
}

.vbar::-webkit-scrollbar-track {
  background: #3f3f3f;
  border-radius: 10px;
}

.vbar::-webkit-scrollbar-thumb {
  background-color: #8ec5c9;
  border-radius: 10px;
  border: 2px solid #2c2c2c;
}

.vbar::-webkit-scrollbar-thumb:hover {
  background-color: #62e8ff;
}

.vbar h2 {
    text-align: center;
    margin-bottom: 20px;
    width: 210px;
    font-size: 20px;
}

.menu {
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}

.menu img{
    vertical-align: sub;
    padding-right: 5px;
}

.vbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vbar ul li a {
    display: block;
    color: rgb(250, 250, 250);
    text-decoration: none;
    padding: 12px 20px;
    transition: background 0.3s;
}

.vbar ul li a:hover {
    background-color: rgb(52, 73, 94);
}

.submenu .op-com {
    display: none;
}

.submenu img {
    vertical-align: bottom;
    padding-right: 5px;
}

.submenu.open .op-com {
    display: block;
}

.submenu.open .legenda {
    background-color: rgb(52, 73, 94);
}

.submenu:last-child {
    text-align: center;
}

.op-com li a {
    margin-left: 20px;
    font-size: 15px;
}

/* APLICAÇÕES */

.bg-conteudo {
    position: fixed;
    margin-left: 15%;
    height: 95%;
    width: 80%;
    background-repeat: no-repeat;
    /* IBAP */
    /*
    background-image: url('../imgs/ibap.png');
    margin-top: 10%;
    background-size: 100% auto;
    */

    /* WOLF STORE */
    /*background-image: url('../imgs/wolf_store_2.jpg');*/
    background-color: black;
    background-size: cover;
    z-index: -1;
    filter: blur(1px);
}
 
.conteudo {
    position: absolute;
    top: 25px;
    margin-left: 15%;
    padding: 20px;
    width: 80%;
    height: 90%;
}

/*
 ████     ████ ████████ ████     ██ ██     ██
░██░██   ██░██░██░░░░░ ░██░██   ░██░██    ░██
░██░░██ ██ ░██░██      ░██░░██  ░██░██    ░██
░██ ░░███  ░██░███████ ░██ ░░██ ░██░██    ░██
░██  ░░█   ░██░██░░░░  ░██  ░░██░██░██    ░██
░██   ░    ░██░██      ░██   ░░████░██    ░██
░██        ░██░████████░██    ░░███░░███████ 
░░         ░░ ░░░░░░░░ ░░      ░░░  ░░░░░░░
*/

/* Mensagem para ser acionada*/
.mens-nodata {
    white-space: nowrap;
    background-color: rgba(87, 130, 187, 0.35);
    border: 3px solid rgb(6, 97, 201);
    border-radius: 15px;
    width: 400px;
    padding: 20px 40px 20px 40px;
    margin-top: 120px;
    margin-left: 28%;
}
.mens-nodata img {
    height: 40px;
    width: auto;
}
.mens-nodata span {
    font-size: 28px;
    vertical-align: super;
    -webkit-text-stroke: 0.3px rgb(0, 0, 0);
    color: rgb(230, 230, 230);
}





/* RADIO GLOBAL */
.iradio {
  appearance: none;         /* Remove aparência padrão */
  -webkit-appearance: none;
  -moz-appearance: none;
  
  width: 22px;
  height: 22px;
  border: 2px solid #0078ff; /* Cor da borda */
  border-radius: 50%;        /* Deixa redondo */
  background-color: #fff;    /* Fundo branco */
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

/* Efeito hover */
.iradio:hover {
  box-shadow: 0 0 0 3px rgba(0,120,255,0.2);
}

/* Círculo interno quando selecionado */
.iradio:checked {
  background-color: #0078ff;   /* Preenche o centro */
  box-shadow: 0 0 0 3px rgba(0,120,255,0.2);
}

/* Animação suave ao marcar */
.iradio::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: white;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.iradio:checked::after {
  background: white;
  transform: scale(0.5); 
}

.iradio {
    vertical-align: sub;
}
/* FIM RADIO GLOBAL */




/* CHECKBOX GLOBAL */

.icheckbox {
    /* Remove a aparência padrão */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 22px;
    height: 22px;
    cursor: pointer;

    border: 2px solid #555;
    border-radius: 6px;
    background: #1a1a1a;

    display: inline-block;
    vertical-align: middle;

    transition: all 0.2s ease;
}

.icheckbox:hover {
    border-color: #888;
}

/* Quando marcado */
.icheckbox:checked {
    background-color: #3c77c4;
    border-color: #3c77c4;
}

/* Ícone ✓ */
.icheckbox:checked::after {
    content: "";
    position: relative;
    left: 6px;
    top: 1px;

    display: block;
    width: 6px;
    height: 12px;

    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}



/* Paginação das telas */
.paginacao {
    text-align: center;
    margin: 15px 0;
}
.paginacao a {
    padding: 6px 10px;
    margin: 2px;
    background: rgb(61, 61, 61);
    border-radius: 4px;
    text-decoration: none;
    color: rgb(224, 224, 224);
}
.paginacao a:hover {
    background: rgb(75, 75, 75);
}
.paginacao a.ativo {
    background: #275e92;
    color: rgb(224, 224, 224);
    font-weight: bold;
}



/* Breadcrump, Trilha de Navegação de páginas*/
.breadcrumb {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    top: 25px;
    left: 17%;
    /*position: fixed;*/
}

.breadcrumb li {
    float: left;
}

/* Link base */
.breadcrumb li a {
    color: rgb(245, 245, 245);
    display: block;
    background: rgb(0, 72, 165);
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}

/* Formato de Setas */
.breadcrumb li a::before,
.breadcrumb li a::after {
    content: "";
    position: absolute;
    top: 0;
    border-style: solid;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}

.breadcrumb li a::before {
    left: -20px;
    border-color: rgb(0, 72, 165);
    border-left-color: transparent;
}

.breadcrumb li a::after {
    left: 100%;
    border-color: transparent;
    border-left-color: rgb(0, 72, 165);
}

/* Hover */
.breadcrumb li a:hover {
     background-color: rgb(0, 89, 206);
}

.breadcrumb li a:hover::before {
    border-color: rgb(0, 89, 206);
    border-left-color: transparent;
}

.breadcrumb li a:hover::after {
    border-left-color: rgb(0, 89, 206);
}

/* Active */
.breadcrumb li a:active {
    background-color: rgb(95, 18, 158);
}

.breadcrumb li a:active::before {
    border-color: rgb(95, 18, 158);
    border-left-color: transparent;
}

.breadcrumb li a:active::after {
    border-left-color: rgb(95, 18, 158);
}

/* Primeiro item */
.breadcrumb li:first-child a {
    padding-left: 15px;
    border-radius: 4px 0 0 4px;
}

.breadcrumb li:first-child a::before {
    border: none;
}

/* Último item */
.breadcrumb li:last-child a {
    padding-right: 15px;
    border-radius: 0 4px 4px 0;
    background-color: rgb(138, 160, 189);
}

.breadcrumb li:last-child a::before {
    border-color: rgb(138, 160, 189);
    border-left-color: transparent;
}

.breadcrumb li:last-child a::after {
    border: none;
    border-left-color: rgb(138, 160, 189);
}